.cart-index-item {
    display: grid;
    grid-template-columns: 25% 75%;
    grid-template-rows: 50% 50%;
    margin: 15px 10%;
    font-size: 17px;
}

.cart-photo {
    grid-column: 1;
    grid-row: 1/3;
}

.cart-index-item img {
    width: 100%;
    height: auto;
}

.cart-index-item-name {
    display: flex;
    align-items: flex-end;
}

.quantity-and-price {
    display: flex;
    grid-column: 2;
    grid-row: 2;
    justify-content: space-between;
    align-items: center;
}

.cart-buttons {
    border: solid gray 1px;
    display: flex;
    justify-content: space-between;
}

.cart-index-item button {
    border: none;
    opacity: .6;
    border-radius: 0;
}

.cart-index-item button:hover {
    opacity: 1;
    background-color: rgb(139, 139, 139);
    color: white;
}

.cart-buttons h4 {
    display: flex;
    align-items: center;
    padding: 10px 10px;
}

.cart-buttons i {
    background-color: transparent;
    margin: 10px 10px;
}

.cart-index-item h6 {
    margin-right: 10%;
}