
@-webkit-keyframes mover {
    0% {
        transform: translateY(-300px);
    }

    100% {
        transform: translateY(0px);
    }
}

@keyframes mover {
    0% {
        transform: translateY(-300px);
    }

    100% {
        transform: translateY(0px);
    }
}

.search-page {
    height: 10vh;
    width: 100vw;
    border-bottom: solid rgb(237, 230, 230) 1px;
    -webkit-animation: mover 500ms ease;
    animation: mover 500ms ease;
}

.search-bar-dropdown {
    display: flex;
    justify-content: space-between;
    height: 100%;
    width: 100vw;
    padding: 0 18%;
}

.search-page form {
    height: 100%;
    display: flex;
    align-items: center;
    width: 100%;
}

.search-page input, .search-page button {
    outline: none;
    border: none;
    font-size: 30px;
}

.search-page input {
    width: 100%;
}