* {
    background-color: #e6ded2;
    color: #1c1d1d;
    font-family: 'Varela Round', 'sans-serif';
    box-sizing: border-box;
}

button {
    border-radius: 2px;
}

/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/

@keyframes zoominoutsinglefeatured {
    0% {
        transform: scale(1.2, 1.2);
    }

    100% {
        transform: scale(1.0, 1.0);
    }
}

.u80 img {
    animation: zoominoutsinglefeatured 3s;
}

/*----------------------------------------------------------------------------*/

.u80,
.thermal-keeb,
.grid-keycaps, 
.duck {
    position: relative;
}

.splashpage img {
    width: 100vw;
}

.splashpage h1,
.splashpage h2 {
    background-color: transparent;
    color: #ffffff;
}

.splashpage h1 {
    font-size: 40px;
    padding: 20px 0px;
}

.splashpage h2 {
    font-size: 25px;
    padding: 20px 0px;
}

.splash-desc {
    display: grid;
    align-items: center;
    z-index: 1;
    position: absolute;
    background-color: transparent;
    margin: 0% 15%;
}

.grid-keycaps img, 
.thermal-keeb img, 
.duck img {
    filter: brightness(50%);
}

/*----------------------------------------------------------------------------*/

.thermal-keeb .splash-desc, 
.duck .splash-desc {
    margin-top: 10%;
}

/*----------------------------------------------------------------------------*/

.u80 button,
.thermal-keeb button,
.grid-keycaps button,
.duck button {
    position: absolute;
    z-index: 1;
    background-color: transparent;
    border-style: none;
    border: solid #ffc80f 2px;
    cursor: pointer;
    font-size: 20px;
    color: #ffc80f;
    padding: 11px 20px;
    border-radius: 2em;
}

.u80 button:hover,
.thermal-keeb button:hover,
.grid-keycaps button:hover,
.duck button:hover {
    background-color: #ffc80f;
    -webkit-transition: background-color 400ms linear;
    -ms-transition: background-color 400ms linear;
    transition: background-color 400ms linear;
    color: black;
    -webkit-transition: color 400ms linear;
    -ms-transition: color 400ms linear;
    transition: color 400ms linear;
}




