
.review-modal-button {
    opacity: .6;
    border: none;
    margin-left: 20px;
    cursor: pointer;
}

.review-modal-button:hover {
    opacity: 1;
}

.review-form-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.review-form {
    display: flex;
    flex-direction: column;
    padding: 50px;
    width: 100%;
    box-shadow: 4px 4px 6px 1px #80808029;
    border-radius: 5px;
}

.review-form h2 {
    font-size: 30px;
    text-align: center;
}

.review-button {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    cursor: pointer;
    background-color: black;
    color: #e8e8e1;
    border-style: none;
    height: 3em;
}

.review-button:hover {
    background-color: #ffc80f;
    color: black;
    border-color: black;
    -webkit-transition: background-color 200ms linear;
    -ms-transition: background-color 200ms linear;
    transition: background-color 200ms linear;
    
}

.review-form label {
    margin-bottom: 8px;
}

.review-form input {
    display: flex;
    width: 100%;
    border: solid gray 1px;
    height: 3em;
    outline: none;
    /* font-size: inherit; */
}

.review-form textarea {
    display: flex;
    width: 100%;
    height: 7em;
    resize: none;
    outline: none;
}
