.review-modal-button {
    opacity: .6;
    border: none;
    margin-left: 20px;
}

.review-modal-button:hover {
    opacity: 1;
}

.review-form {
    display: flex;
    flex-direction: column;
    border: solid black 1px;
    padding: 50px;
}

.review-form h2 {
    text-align: center;
}

.review-button {
    margin-top: 15px;
}