.index-area {
    margin: 0 10%;
}

.product-index {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.product-photo {
    width: 20vw;
    height: auto;
    margin: auto;
}

