.index-area {
    margin: 0 10%;
    position: relative;
}

.product-index {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.product-photo {
    width: 20vw;
    height: auto;
    margin: auto;
}

.product-photo:hover {
    filter: blur(4px);
}

.index-area h1 {
    font-size: 18px;
    margin-bottom: 15px;
}

.index-area h2 {
    font-size: 15px;
    color: rgb(121, 121, 121);
}

.product-index-buttons {
    display: grid;
    position: absolute;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background-color: transparent;
    width: 100%;
    padding: 25% 0;
}

.index-add-cart, .index-details {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: #e8e8e1;
    border: none;
    height: 3em;
    width: 10em;
    cursor: pointer;
}

.index-add-cart:hover, .index-details:hover {
    background-color: #ffc80f;
    color: black;
    border-color: black;
    -webkit-transition: background-color 200ms linear;
    -ms-transition: background-color 200ms linear;
    transition: background-color 200ms linear;
}

