.navitems {
    font-size: 17px;
    display: flex;
    align-items: center;
    text-decoration: none;
    font-style: none;
}


.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid rgb(237, 230, 230) 1px;
    color: #1c1d1d;
    z-index: 10000;
    position: sticky;
    top: 0px;
    padding: 20px 18%;
}

.nav-links {
    display: flex;
}

.name {
    font-size: 40px;
    cursor: pointer;
    color: black;
    padding-right: 50px;
}


.store, .catalog, .studio, .updates {
    cursor: default;
    color: black;
    padding: 20px;
    cursor: pointer;
}

.icons {
    display: flex;
    font-size: 20px;
}

.user-button {
    border: none;
    font-size: 20px;
}

.cart {
    border-style: none;
    cursor: pointer;
}

.hide {
    display: none;
}



